/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */


@media (min-width: 1220px) and (max-width: 1439px) {
	.container {
		max-width: 90%;
	}
}
@media (min-width: 768px) and (max-width: 1219px) {
	.container {
		max-width: 90%;
	}
}
@media (max-width: 768px) {
	.container {
		max-width: 90%;
	}
}

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}